<h1>Enter New Coupon Information</h1>

<%= form_for @coupon, url: dashboard_coupons_path do |f| %>
  <p>
    <%= f.label :code %>
    <%= f.text_field :code %>
  </p>

  <p>
    <%= f.label :discount %>
    <%= f.number_field :discount %>
  </p>

  <%= f.submit %>
<% end %>
